/* Variáveis com atributos de cores e transição (fiz isso pra facilitar na hora de colocar cores em partes da página, porque eu poderia acabar selecionando tons de cores diferentes pra cada sessão, deixando mais poluída a página, aí ia ficar paia ksksks) */
:root {
    --primary: #2196F3;
    --primary-dark: #1976D2;
    --secondary: #FF4081;
    --text: #333333;
    --text-light: #666666;
    --background: #FFFFFF;
    --background-alt: #F5F5F5;
    --shadow: rgba(0, 0, 0, 0.1);
    --transition: all 0.3s ease; /* transição suave de efeitos */
}
/* Reseta estilos padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Aplicando fontes */
body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    color: var(--text);
    background-color: var(--background);
}

/* Hero Section */
.hero-section {
    position: absolute;
    height: 100vh; /* Altura da tela principal */
    
    
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-size: cover;
}
.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Escurece o fundo */
    z-index: 1;
}


.hero-content {
    position: relative;
    z-index: 11;
    color: white;
    display: block;
    text-align: center;
    background-image: linear-gradient(to right, transparent 48.3%, #2f6ea842 51%);
    background-color: #0000004d;
    padding: 20px;
    max-width: 80%;
    width: 400px;
    border-radius: 20px;
    transition: 1s ease-in-out;
    transform: translateY(-50%);
    backdrop-filter: blur(4px);
    margin: auto;
}

.hero-content:hover {
    background-image: linear-gradient(to right, transparent 48.3%, #f8f8f823 51%);
    background-color: #04488880;
    scale: 1.1;
}

.hero-content h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

/* Responsividade */
@media (max-width: 1024px) {
    .hero-content {
        width: 60%;
        padding: 15px;
    }
    .hero-content h1 {
        font-size: 2rem;
    }
}

@media (max-width: 768px) {
    .hero-content {
        width: 80%;
        padding: 10px;
    }
    .hero-content h1 {
        font-size: 1.8rem;
    }
}

@media (max-width: 480px) {
    .hero-content {
        width: 90%;
        padding: 8px;
    }
    .hero-content h1 {
        font-size: 1.5rem;
    }
}


.hero-content p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    
}
.hero-section {
    display: flex;
    flex-direction: column; /* Alinhamento vertical */
    justify-content: center; /* Centraliza no eixo vertical */
    align-items: center; /* Centraliza no eixo horizontal */
    height: 100vh; /* Mantém a altura da tela */
    position: relative;
    padding: 20px; /* Espaço interno */
}

/* tornar botão see-more clicável, devido à hierarquia do z-index */
.hero-section .see-more-button {
    position: absolute; /* Posiciona o botão em relação à hero-section */
    bottom: 20px; /* Ajuste a distância do fundo */
    left: 50%; /* Centraliza horizontalmente */
    transform: translateX(-50%); /* Ajuste para alinhar centralmente */
    z-index: 15; /* Acima do overlay */
    margin: 0; /* Remove margens para centralizar */
}

.see-more-button{
    display: block;
    margin-top: 1rem;
    text-align: center;
    padding: 1rem 2rem;
    text-decoration: none;
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
    border-radius: 100%;
    width: 75px;
    height: 75px;
    justify-content: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    transition: var(--transition);
    backdrop-filter: blur(25px);
    background-color: rgba(245, 245, 245, 0.103);
    z-index: 2;
    transition: 0.5s;
}

.see-more-button img{
    width: 43px;
    height: 40px;
    margin-right: 0%;
}

.see-more-button:hover {
    cursor: pointer;
    /* Fazer girar */
    scale: 1.1;
    backdrop-filter: blur(25px);
    background-color: rgba(0, 153, 255, 0.315);
    /* sombra com mesmo background hover */
    /* sombra com efeito de sombra */
    box-shadow: 0px 0px 20px rgba(0, 153, 255, 0.3);
}

/* Estilos específicos para o main e as seções */
main {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza o conteúdo dentro do main */
    padding: 2rem;
    max-width: 100%; /* Faz o main ocupar 100% da largura disponível */
    box-sizing: border-box;
}

main section {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza o conteúdo da seção */
    padding: 2rem;
    margin: 20px 0;
    width: 100%; /* Garante que cada seção ocupe 100% da largura do main */
    box-sizing: border-box;
    background: var(--background); /* Fundos para cada seção */
    border-radius: 8px;
    max-width: 1200px;
}



/* Container principal */
.menu-categories {
    display: flex;
    flex-wrap: wrap; /* Permite quebra para múltiplas linhas */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: flex-start; /* Alinha os itens ao topo */
    gap: 20px; /* Espaçamento geral entre os itens */
    padding: 20px;
    border-bottom: 1px solid #1976D2;;
}

/* Título destacado */
.mn-item-titulo {
    width: 100%; /* Ocupa toda a largura para ficar em linha separada */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px; /* Espaçamento do título para os itens */
}

.mn-item-titulo img {
    width: 80px;
    height: 80px;
}

.mn-item-titulo span {
    font-size: 1.2rem;
    font-weight: bold;
    color: #1976D2;
    background-color: #333;
    
    /* Gradiente de cor */
    background:linear-gradient(to right,  #1976d2, #115191);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    transition: opacity 1s ease;
    transform: translateY(10px);
}

/* Estilo para os itens */
.mn-item {
    display: flex;
    flex-direction: column; /* Ícone acima do texto */
    align-items: center;
    padding: 15px;
    background-color: #f9f9f9; /* Fundo leve */
    border-radius: 15px 2px;
    border: 2px solid #1976d28c;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Sombra leve */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    width: 120px; /* Define o tamanho fixo dos itens */
}

/* Ícones e textos dentro dos itens */
.mn-item a {
    text-decoration: none;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.mn-item img {
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease;
}

.mn-item span {
    font-size: 0.9rem;
    font-weight: bold;
    color: #000000;
    transition: color 0.3s ease;
    text-align: center;
    transition: opacity 1s ease;
}

/* Hover para os itens */
.mn-item:hover {
    transform: scale(1.05);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.4);
    background-color: #1976D2;
    border: 2px solid #08223b8c;

}

.mn-item:hover img {
    transform: scale(1.1);
}

.mn-item:hover span {
    color: #fff;
    /* Deslizar de baixo para cima */
    transition: transform 0.5s ease;
    transform: translateY(0);
    /* Animar a transição */
    transition: transform 0.5s ease, color 0.5s ease;
}

/* Responsividade */
@media (max-width: 768px) {
    .mn-item {
        width: 100px;
    }

    .mn-item img {
        width: 40px;
        height: 40px;
    }

    .mn-item span {
        font-size: 0.8rem;
    }

    .mn-item-titulo img {
        width: 60px;
        height: 60px;
    }

    .mn-item-titulo span {
        font-size: 1rem;
    }
}



/* Menu lateral */
.sidebar {
    position: fixed;
    left: -300px;
    top: 0;
    width: 300px;
    height: 100vh;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.959) 25%, rgba(194, 194, 194, 0.603)100%);
    backdrop-filter: blur(2px);
    padding: 2rem;
    transition: var(--transition);
    z-index: 1000;
    box-shadow: 2px 0 10px var(--shadow);
    overflow-y: auto;
}

.sidebar.active {
    left: 0;
}

#notification {
    position: relative;
    text-align: center;
    background-color: #ff0000;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1000;
}

#notification.hidden {
    display: none;
    opacity: 0;
}

#notification.visible {
    display: block;
    opacity: 1;
}

/* botão de abrir menu */
.menu-toggle {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 999;
    background: rgba(0, 0, 0, 0.2);
    border: none;
    color: white;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    cursor: pointer;
    backdrop-filter: blur(5px);
    transition: var(--transition);
    font-size: 1.5rem;
}

.menu-toggle:hover {
    background: rgba(0, 0, 0, 0.3);
    transform: scale(1.1);
}


/* Modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1001;
}

.modal.active {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    background: var(--background);
    width: 90%;
    max-width: 800px;
    max-height: 90vh;
    border-radius: 15px;
    overflow: auto;
    position: relative;
    padding: 2rem;
}
.modal button{
    position: absolute;
    top: 10px;
    right: 10px;
    background: rgb(255, 63, 63);
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: rgb(0, 0, 0);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    justify-content: center;

    &:hover{
        background: rgb(255, 0, 0);
        color: white;
        transform: scale(1.1);
    }
}


/* Responsividade (adaptar os elementos da página para telas menores) */
@media (max-width: 768px) {
    .hero-content h1 {
        font-size: 2.5rem;
    }

    .hero-content img{
        width: 100%;
    }

    .sidebar {
        width: 100%;
        left: -100%;
    }
}

/* Sidebar Header: Estiliza o cabeçalho do menu lateral com uma área flexível, centralizando o conteúdo e adicionando uma linha de divisão para separar os elementos do menu*/
.sidebar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
}


/* mesmo sem ter ainda uma imagem de logo, defini uma formatação pra imagem que ainda vamos procurar/fazer. Então tá com tamanho e animação ajustado, só falta criar a imagem kkkkkk */
.logo {
    height: 65px;
    transition: var(--transition);
    border-radius: 20px;
}

.logo:hover {
    transform: scale(1.05);
}

/* Seria o botão de fechamento do menu lateral em forma de círculo azulado*/
.close-sidebar {
    width: 70px;
    height: 30px;
    border: none;
    background: rgba(33, 149, 243, 0.664);
    border-radius: 50%;
    color: rgba(0, 0, 0, 0.486);
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    /* mover levemente para a direita */
    margin-left: 10px;
}

.close-sidebar:hover {
    background: var(--primary);
    color: white;
    transform: rotate(90deg);
}

/* barra de pesquisa do menu */
.search-input-wrapper {
    position: relative;
    margin-bottom: 1.5rem;
}
/* o ícone de lupa na barra de pesquisa do menu */
.search-input-wrapper i {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--primary);
    font-size: 1.1rem;
}
/* Aqui é o input que vai receber o nome da cidade na barra de pesquisa do menu */
#searchInput {
    width: 100%;
    padding: 12px 15px 12px 45px;
    border: 2px solid rgba(33, 150, 243, 0.2);
    border-radius: 25px;
    font-size: 0.95rem;
    transition: all 0.3s ease;
    background: rgba(0, 0, 0, 0.192);
}

#searchInput:focus {
    outline: none;
    border-color: var(--primary);
    box-shadow: 0 0 0 3px rgba(33, 150, 243, 0.1);
}

/* as opções de filtros do menu (praias, parques, rural, etc) */
.filter-section h3 {
    color: var(--primary);
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
    padding-left: 15px;
    position: relative;
}

/* é a barrinha azul no lado esquerdo do nome "Filtrar por categoria" no menu. Achei que ficaria legal */
.filter-section h3::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 4px;
    height: 20px;
    background: var(--primary);
    border-radius: 2px;
}

/*estrutura e posicionamento dos itens/opções do menu */
.menu-items {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
/* decoração desses itens/opções */
.menu-item {
    display: flex;
    align-items: center;
    padding: 12px 20px;
    color: var(--text);
    text-decoration: none;
    border-radius: 12px;
    transition: all 0.3s ease;
    background: transparent;
    position: relative;
    overflow: hidden;
}
/* os ícones de cada item do menu */
.menu-item i {
    font-size: 1.2rem;
    margin-right: 15px;
    transition: all 0.3s ease;
    width: 24px;
    text-align: center;
}

.menu-item span {
    font-weight: 500;
    transition: all 0.3s ease;
}

/* mais efeitos ao passar o mouse e clicar nos itens do menu*/
.menu-item:hover, .menu-item.active {
    background: var(--primary);
    color: white;
    transform: translateX(5px);
}
/* mais efeitos...mas focados na movimentação do fundo e posição dos itens */
.menu-item::before {
    content: '';
    position: absolute;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        90deg,
        transparent,
        rgba(255, 255, 255, 0.2),
        transparent
    );
    transition: all 0.5s ease;
}

.menu-item:hover::before {
    left: 100%;
}

/* Animação para ícones */
.menu-item:hover i {
    transform: scale(1.2);
}

/* Sugestões de busca (não tô conseguindo fazer funcionar por enquanto... deveria mostrar o nome completo da cidade quando o usuário começa a digitar o começo do nome dela)*/
.search-suggestions {
    margin-top: 5px;
    background: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.suggestion-item {
    padding: 10px 15px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.suggestion-item:hover {
    background: rgba(33, 150, 243, 0.1);
    padding-left: 20px;
}

/* Scrollbar personalizada para o menu (barra de rolagem)*/
.sidebar::-webkit-scrollbar {
    width: 6px;
}

.sidebar::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.05);
}

.sidebar::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 3px;
}

.sidebar::-webkit-scrollbar-thumb:hover {
    background: var(--primary-dark);
}

.content-section {
    padding: 5rem 2rem;
    background: var(--background);
}

.content-section:nth-child(even) {
    background: var(--background-alt);
}


.content-section {
    padding: 5rem 2rem;
    background: var(--background);
    margin: 20px auto;
    max-width: 900px; /* Limitar a largura para não esticar demais */
    width: 90%; /* 90% da largura da tela */
    box-sizing: border-box;
    border-radius: 8px;
    transition: all 0.3s ease;
    /* borda azul splid*/
    border: 1px solid rgba(33, 150, 243, 0.2);
}

.content-section:hover{
    transform: scale(1.02);
    border: 1px solid rgba(33, 149, 243, 0.63);
    box-shadow: 0 12px 24px  rgba(61, 168, 255, 0.384);
}

section h2 {
    font-size: 2rem;
    margin-top: -20px;
    margin-bottom: 2rem;
    text-align: center;
    font-weight: bold;
}


section p {
    font-size: 1rem;
    text-align: justify;
    line-height: 1.6;
    max-width: 1000px;
    margin: 0 auto;
    color: #000000;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center; /* Centraliza os cards */
}


.card {
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 5px 15px var(--shadow);
    transition: var(--transition);
    cursor: pointer;
    margin-bottom: 20px;
    
}

.card img {
    width: 400px;
    height: 300px;
    object-fit: cover;
}

.card-content {
    position: absolute;
    display: flex;
    /* Torna o container flexível */
    flex-direction: column;
    /* Alinha os itens em uma coluna */
    justify-content: center;
    /* Centraliza verticalmente */
    align-items: center;
    /* Centraliza horizontalmente */
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1.5rem;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.8));
    color: white;
    background-color: #0000007a;
    transition: var(--transition);
}

.card:hover .card-content {
    background-color: #00000057;
    background: linear-gradient(#000000a6, rgba(2, 38, 71, 0.8));
}

.card:hover{
    transform: translateY(-10px);
}


.card-content h3 {
    margin-bottom: 10px;
    font-size: 1.2rem;
    /* colocar no centro */
    text-align: center;
}

.details-button {
    padding: 10px 15px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    text-align: center;
    width: 150px;
    font-size:medium;
    /* Garantir que o texto fique centralizado dentro do botão */
}

.details-button:hover {
    background-color: #ffffff;
    color: #007BFF;
}

/* posicionamento e estilização do rodapé */
.main-footer {
    background: var(--primary-dark);
    color: white;
    padding: 4rem 2rem 2rem;
}


/* Rodapé */
.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 3rem;
}
/* títulos do rodapé */
.footer-section h3 {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    position: relative;
    padding-bottom: 0.5rem;
}

.footer-section h3::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50px;
    height: 2px;
    background: var(--secondary);
}
/*Lista de links presentes no rodapé */
.footer-section ul {
    list-style: none;
}

.footer-section ul li {
    margin-bottom: 0.8rem;
}
/* efeitos nos links em si */
.footer-section a {
    color: white;
    text-decoration: none;
    transition: var(--transition);
}

.footer-section a:hover {
    color: var(--secondary);
    padding-left: 5px;
}
/* Ícones de redes sociais com efeito de hover */
.social-links {
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem;
}

.social-links a {
    width: 40px;
    height: 40px;
    background: rgb(22, 22, 22);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--transition);
}

/* social links a primeira filha */
.social-links a:first-child {
    background: rgb(11, 129, 84);
}

/* social links a segunda filha */
.social-links a:nth-child(2) {
    background: rgb(10, 79, 136);
}

/* social links a terceira filha */
.social-links a:nth-child(3) {
    background: rgb(69, 64, 151);
}

.social-links a:hover {
    background-color: white;
    color: #000000;
    transform: translateY(-3px);
}

/* Estilo para o rodapé inferior com alinhamento e uma borda na parte superior */
.footer-bottom {
    text-align: center;
    margin-top: 3rem;
    padding-top: 2rem;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}
/* alterando o tamanho das imagens do card*/
img {
    width: 480px;
    height: 500px;
    object-fit: cover; /* Ajusta o corte da imagem para cobrir o tamanho sem distorcer */
}
